<header class="header">

    <div class="logo">
        <h1>GC</h1>
        <i class="fa-solid fa-address-book"></i>
    </div>
    

    <a href="/" class="menu-link"><i class="fa-solid fa-house"></i></a></li>

    </nav>
    
</header>