<!DOCTYPE html>
<html lang="en">

<!--head-->
<%- include ("./partials/head") %>

    <body>

        <!--header-->
        <%- include ("./partials/header") %>

            <main class="main">

                <form action="">
                    <label for="">Nombre</label>
                    <input type="text" name="email" id="email">

                    <label for="">Apellido</label>
                    <input type="text" name="email" id="email">

                    <label for="">Email</label>
                    <input type="text" name="email" id="email">

                    <label for="">Contraseña</label>
                    <input type="password" name="password" id="password">

                    <label for="">Repetir Contraseña</label>
                    <input type="password" name="password2" id="password2">

                    <input type="submit" value="Registrar">
                    
                </form>

            </main>

            <!--footer-->
            <%- include ("./partials/footer") %>
            <script src="/js/buscar.js"></script>
    </body>

</html>