@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
    box-sizing: border-box;
}

:root {
    --color1: #fff;
    --color2: #000;
    --color3: #191919;
    --color4: #2D2D2D;
    --color5: #4B4B4B;
    --color6: #969696;
    --color7: #444791;
  }

body {
    background-color: var(--color2);
    color: var(--color1);
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.1em;
}

i {
    font-size: 1.4em;
    cursor: pointer;
}

a, input {
    font-size: 1em;
    color: var(--color1);
}


/*HEADER*/
.header {
    padding: 20px;
    
}


/*MAIN*/

/*Idex*/

.main{
    display: flex;
    justify-content: center;
}
.section {
    width: 80%;
}

.cabecera { 
    margin: 20px 0 20px 0;
    background-color: var(--color3);
    border-radius: 15px;
    border: 1px solid var(--color7);
    padding: 10px;
}

.botones-cabecera{
    display: flex;
    justify-content: right;
    gap: 30px;
    padding: 20px;
}
.busqueda {
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color4);
    border-radius: 15px;
    padding: 10px 20px 10px 20px;
}

.buscador {
    width: 90%;
    background-color: var(--color4);
}


.listaContactos {
    background-color: var(--color4);
    border-radius: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    border: 1px solid var(--color7);
}

.lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 90%;
}

.item {
    
    padding: 10px 20px 10px 20px;
    width: 100%;
    text-align: center;
}

.item:last-child {
    border: none;
}

/*Detalle*/

.cabecera-noIndex { 
    display: flex;
    justify-content: space-between;
    margin: 40px 0 20px 0;
    background-color: var(--color3);
    padding: 30px;
    border-radius: 15px;
    border: 1px solid var(--color7);
}

.detalle {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    width: 90%;
}


.botones-detalle {
    margin-top:20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border: 1px solid var(--color7);
    border-radius: 15px;
    background-color: var(--color3);
}

.delete {
    background: none;
    padding: 0;
    margin: 0;
}

/*Froms*/

form label {
    margin-bottom: 5px;
}

.input {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.input input {
    border-radius: 6px;
    padding: 5px;
    color: var(--color2);
}

form button {
    margin-top: 10px;
    width: 80%;
    padding: 6px;
    border: none;
    border-radius: 6px;
    background-color: var(--color7);
    color: var(--color1);
    font-size: 1em;
}


@media (min-width: 768px) {
    .section {
        width: 60%;
    }
  }

  @media (min-width: 1024px) {
    .section {
        width: 40%;
    }
  }

  @media (min-width: 1250px) {
    .section {
        width: 40%;
    }
  }

/*Validación del Back*/

.invalido {
    margin-top: 2px;
    padding: 5px;
    color: red;
    background-color: var(--color6);
    border-radius: 8px;
}
  
/*Mostrar - Ocultar buscador*/

.filtro {
    display: none;
}